body {
    font-family: Arial, sans-serif;
    background-color: #ebe9eb;
    margin: 0;
}


.container {
    text-align: center;
    margin-top: 50px;
}

#top-text {
    font-size: 60px;
    color: #333;
}

label {
    margin-right: 10px;
}

#verificar-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#resultado {
    font-weight: bold;
    margin-top: 10px;
}
